/*
font-family: 'Baloo Chettan', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
*/
*{    
    width: 100%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,body{
    margin: 0;
    padding: 0;
}

.main{
    display: grid;    
    grid-template-areas: "background"
                         "info";
    justify-content: center;
}

.header{    
    position: fixed;
    background: black;
    width: 100%;
    height: 50px;
    max-height: 8vh;
    align-items: center;
}
.menu-bar{    
    font-size: 7vh;
    color: #fff;
    text-decoration: none;    
    padding: 2%;
}
.menu-item-cont{
    display: none;
}
.menu-resp{
    display: none;
}
.background{
    grid-area: background;            
    max-height: 70vh;        
    background-image: url("../img/brick-wall-1834784_1920.jpg");
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 2px 2px 10px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.back-title{
    font-size: 15vw;
    color: rgb(235, 235, 235);
    text-shadow: 5px 5px 10px black;
    text-align: center;
}
.information{
    background: rgb(240, 240, 240);    
    grid-area: info;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.info-widget{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    margin: .5em;
}
.widget-img{
    display: block;    
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 2px 2px 2px grey;
    object-fit: cover;
}
.widget-title{
    font-size: 2em;
    text-align: center;
}
.widget-desc{
    width: 100%;
    text-align: justify;
    margin:0;
    padding: .5em;
    font-size: 1.3em;
}
.widget-btn{    
    padding: 4%;
    width: 50%;    
    background: rgb(228, 116, 12);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(167, 85, 10);
}

@media (min-width:728px) and (orientation:landscape){
    .information{
        flex-flow: row nowrap;  
        justify-content: center;
        align-items: stretch;             
        align-content: stretch; 
    }
    .info-widget{        
        flex: 0 1 auto;
        align-self: auto;
    }
}
